TASK 2 LOGIC BUILDING

Problem 1: Unique Words in a Sentence

In [2]:
sentence = "python is easy and python is powerful"
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'powerful', 'is', 'easy', 'and', 'python'}

Problem 2: Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]
max_val = numbers[0]
min_val = numbers[0]
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [5]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [11]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique Phone Numbers:", unique_numbers)

Unique Phone Numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [10]:
text = "PYTHON"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'P': 1, 'Y': 1, 'T': 1, 'H': 1, 'O': 1, 'N': 1}

Problem 8: Convert List to Tuple

In [27]:
lst = [10, 20, 30]
tup = tuple(lst)
print("Tuple:", tup)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [45]:
employees = {"Ravi": 75000, "Anita": 68000}
if "Ravi" in employees and"Anita" in employees:
    print("Both Ravi and Anitha exist")
else:
    print("Both Employee does not exist")

Both Ravi and Anitha exist

Problem 10: Calculate Average Marks

In [46]:
marks = [70, 75, 80, 65]
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5